streamlit
langchain
langchain-core
langchain-community
langchain-huggingface
langchain-google-genai
langchain-text-splitters
faiss-cpu
huggingface-hub
python-docx
pymupdf
python-pptx
pandas
openpyxl
nest_asyncio
python-dotenv
watchdog
sentence-transformers
