streamlit
langchain==0.1.16
langchain-community==0.0.29
langchain-core==0.1.52
langchain-huggingface
langchain-google-genai
langchain-text-splitters
faiss-cpu
huggingface-hub
python-docx
pymupdf
python-pptx
pandas
openpyxl
nest_asyncio
python-dotenv
watchdog
sentence-transformers
